@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

header {
    width: 1920px;
    height: 700px;
    background: #EEEFF1;
    padding: 0 20px;
}

.fixed-container{
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1240px;
}

.menu-container {
    padding-top: 46px;
    padding-left: 392.4px;
    display: flex;
    justify-content: space-between;
    color: darkorange;
}

.menu-item {
    text-transform: uppercase;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    padding-right: 42px;
}

.menu a:hover {
    color: rgb(184, 90, 78);
}

#active-link {
    color: #34547A;
}

nav ul a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.logo-img  {
    width: 115.2px;
}





main {
    width: 1920px;
    height: 700px;
    padding: 0 20px;
    background-color: cyan;
}

.skills-container {
    display:flex;
    justify-content: space-between;
    padding: 100px 0;
}

.skills-progress {
    padding: 0 20px;
}

.progress-title {
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    margin-top: 100px;
    margin-bottom: 50px;
}

.face-img {
    width: 555px;
    height: 450px;
}

.skills-item {
    list-style-type: none;
    margin-bottom: 30px;
}

progress {
    height: 4px;
    width: 349.36px;
}

.skill {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #727272;
}