@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap' );

header {
    width: 1920px;
    height: auto;
    background: #EEEFF1;
}

.fixed-container{
    margin: 0;
    padding: 0 20px;
    max-width: 1240px;
}

.menu-container {
    padding-top: 46px;
    display: flex;
    justify-content: space-between;
    color: darkorange;
}

.menu-item {
    text-transform: uppercase;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    padding-right: 42px;

}

.menu a:hover {
    color: rgb(184, 90, 78);
}

#active-link {
    color: #34547A;
}

nav ul a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.menu {
    display: flex;
    justify-content: space-between;
}


.logo {
    margin-left: 372.4px;
}

.logo-img  {
    width: 115.2px;
}









main {
    width: 1920px;
    height: auto;
}





.main {
    padding-top: 140px;
    background: #EEEFF1;
}






.main-container {
    display: flex;
    justify-content: center;
}

.laptop-img{
   width: 357px;

}

.design {
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
}

.display {
    margin-right: 88.1px;
}

.write-to-me {
    margin-left: 88.1px;
    
}

.Lorem-Ipsum-container {
    
    width: 540px;
    height: 67px;
    margin: 60px 0;

}




.Lorem-Ipsum {
    font-family: 'Roboto', sans-serif;
    color: #727272;
    size: 16px;
    line-height: 26px;
}


.write-to-me-button {
    background-color: #34547A;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    width: 225px;
    height: 65px;
    color: white;
    border: none;
}



















.skills-container {
    display:flex;
    justify-content: space-between;
    padding: 100px 0;
}

.skills-progress {
    padding: 0 20px;
}

.progress-title {
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    margin-top: 100px;
    margin-bottom: 50px;
}

.face-img {
    width: 555px;
    height: 450px;
}

.skills-item {
    list-style-type: none;
    margin-bottom: 30px;
}

progress {
    height: 4px;
    width: 349.36px;
}

.skill {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #727272;
}